<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adalbero.app.lebenindeutschland">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.adalbero.app.lebenindeutschland.controller.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.adalbero.app.lebenindeutschland.ui.main.MainActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.adalbero.app.lebenindeutschland.ui.exam.ExamActivity"
            android:parentActivityName="com.adalbero.app.lebenindeutschland.ui.main.MainActivity" />
        <activity
            android:name="com.adalbero.app.lebenindeutschland.ui.question.QuestionActivity"
            android:parentActivityName="com.adalbero.app.lebenindeutschland.ui.exam.ExamActivity" />
        <activity
            android:name="com.adalbero.app.lebenindeutschland.ui.settings.SettingsActivity"
            android:parentActivityName="com.adalbero.app.lebenindeutschland.ui.main.MainActivity" />
    </application>

</manifest>